<!-- header-->
<div class="container">
	<div class="header">
		<p class="header_font pull-left">上海</p>
		<p class="header_font pull-right">2015年04月01日发布</p>
	</div>
</div>
<!--main -->
<div class="container">
	<div class="row">
		<% (1..4).each do |index| %>
		<%=link_to @control["#{index}"][:href] do |i| %>
		<div class="col-xs-6 col-md-3 intervals ">
			<div class="transparent">
				<div class="row">
					<div class="col-xs-5 col-md-5 ">
						<%= image_tag @control["#{index}"][:picture], class:" 
							transparent_pad1 pic_width img-responsive"%></div>
					<div class="col-xs-1 col-md-1  ">
						<span class="glyphicon glyphicon-search icon_search" aria-hidden="true"></span>
					</div>
					<div class="col-xs-6 col-md-6 ">
						<p class="white transparent_pad2">
							<%=@control["#{index}"][:text]%>
							<br>气象风险</p>
					</div>
				</div>
				<div class="row row_pad1">
					<div class="col-md-2 col-xs-2 white colorpiece_1">明</div>
					<div class="col-md-10 col-xs-10">
						<%= render :partial =>"/share/share.html.erb" %></div>
				</div>
				<div class="row row_pad2">
					<div class="col-md-2 col-xs-2 white colorpiece_1">后</div>
					<div class="col-md-10 col-xs-10">
						<%= render :partial =>"/share/share.html.erb" %></div>
				</div>
			</div>
		</div>
		<%end%>
		<%end%>
		<%=link_to weatherrisk_COPD_path do |i| %>
		<div class="col-xs-6 col-md-3 intervals ">
			<div class="transparent">
				<div class="row">
					<div class="col-xs-5 col-md-5 ">
						<%= image_tag "5.png", class:" 
							transparent_pad1 pic_width img-responsive"%></div>
					<div class="col-xs-1 col-md-1  ">
						<span class="glyphicon glyphicon-search icon_search" aria-hidden="true"></span>
					</div>
					<div class="col-xs-6 col-md-6 ">
						<div class="transparent_pad2">
							<p class="white">
								&nbsp;&nbsp;慢性阻
								<br>
								塞性肺病
								<br>气象风险</p>
						</div>
					</div>
				</div>
				<div class="row row_pad1">
					<div class="col-md-2 col-xs-2 white colorpiece_1">明</div>
					<div class="col-md-10 col-xs-10">
						<%= render :partial =>"/share/share.html.erb" %></div>
				</div>
				<div class="row row_pad2">
					<div class="col-md-2 col-xs-2 white colorpiece_1">后</div>
					<div class="col-md-10 col-xs-10">
						<%= render :partial =>"/share/share.html.erb" %></div>
				</div>
			</div>
		</div>
		<% end %>
		<div class="col-xs-6 col-md-3 intervals ">
			<div class="transparent">
				<div class="row">
					<div class="col-xs-5 col-md-5 ">
						<%= image_tag "6.png", class:"transparent_pad1 pic_width img-responsive feature_marpad"%></div>
					<div class="col-xs-6 col-md-6 "></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row feature_marpad1">
	<div class="col-md-2"></div>
	<div class="col-md-1 col-xs-1"></div>
	<div class="col-md-1 col-xs-2 green roundedcorners  colorpiece_1 white collrpad">低</div>
	<div class="col-md-1 col-xs-2 blue roundedcorners  colorpiece_1 white  collrpad">轻微</div>
	<div class="col-md-1 col-xs-2 yellow roundedcorners  colorpiece_1 white collrpad">中等</div>
	<div class="col-md-1 col-xs-2 orange roundedcorners  colorpiece_1 white   collrpad ">较高</div>
	<div class="col-md-1 col-xs-2 red roundedcorners  colorpiece_1 white   collrpad ">高</div>
	<div class="col-md-1 col-xs-1"></div>
	<div class="col-md-2"></div>
</div>
<!-- footer-->
<div class="row footer_padding">
	<div class="col-md-12 col-xs-12 intervals">
		<div class="transparent ">
			<p class=" center white feature_pad1 featurefont">疾病风险预报产品说明</p>
			<p style="text-indent:2em" class="white feature_pad2">
				疾病风险预报产品主要有分人群感冒、儿童哮喘、慢性阻塞性肺病（COPD）以及中暑四个产品。通过流行病学研究，确定影响疾病的气象环境因素，建立预测预报模型，根据天气预报和空气质量预报结果，确定疾病的风险等级，针对易感人群和不利天气，给出预防建议。
			</p>
		</div>
	</div>
</div>